body{
    background-image: url("../images/rubaitul.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family:'Tilt Prism', cursive;;
    // font-family: 'Kablammo', cursive;
    .chaknoris{
        background-color: rgb(94, 255, 0);
        width: 50%;
        margin: 0 auto;
        border-radius: 60%;
        box-shadow: 0  0 4px grey;
        button{
            padding: 2em;
            margin-bottom: 2em;
            background-color:blue;
            border: none;
            color:beige;
            border-radius: 5px;
            font-size: 1rem;
            border-radius:10px;
        
        }
    }
    h1{
        text-align: center;
        font-size: 4rem;
        color:rgb(192, 195, 255);
        span{
            color: rgb(192, 195, 255);
        }
        
    }

    div{
text-align: center;
color:black;
font-size: 2.5rem;
padding: 1em;


    }
    
}